<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploadujte sliku</title>
</head>
<body>
    <h1>
       Dodajte sliku 
    </h1>

    <form action = '/uploader' method = "post" enctype="multipart/form-data">
        <input type="file" name = "file" id="file">
        <input type="submit" value="Upload">
    </form>

    <h1>Procesirana slika</h1>
    <img src = "{{url_for('static',filename = filename)}}" alt = "slika">
</body>
</html>